



html,
body {
    height: 100%;
}



body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-style: normal;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.4;
    @extend %opensans-400;
}

.main{
    flex-grow: 1;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}