body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: $white;
  line-height: 1.4;
  background-color: $white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.main {
  flex-grow: 1;
}

.section {
  padding-bottom: 72px;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-green {
  color: $white;
  background-color: $green-900;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.3;
  transition: background-color 0.3s, box-shadow 0.4s;

  &:hover {
    background-color: #4d800c;
  }

  &:focus {
    box-shadow: 0 0 0 4px #e0edcf;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.title {
  text-align: center;
  @extend %rudasemibold-600;
  font-size: 32px;
  color: $dark-900;
  margin-bottom: 30px;
}