html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  ul,
  ol {
    padding: 0;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  button,
  a,
  input,
  textarea {
    outline: transparent;
  }
  
  address,
  blockquote {
    font-style: normal;
  }
  
  button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    appearance: none;
    display: inline-block;
    background-color: transparent;
  }
  
  input,
  textarea,
  select {
    font: inherit;
    border: transparent;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }