@import "fonts";
@import "vars";
@import "reset";
@import "libs";
@import "global";

.header {
  &__top {
    background-color: $dark-800;
  }

  &__bottom {
    padding: 25px 0;
    background-color: $green-900;
  }

  &__wrapper {
    @extend %flex;
    align-items: center;
  }
}

.information {
  padding: 14px 0;
  &__list {
    display: flex;
  }
  &__item {
    &--more {
      &:not(:last-child) {
        margin-right: 48px;
      }
    }
  }
  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.4;
    padding: 5px 0;
    text-transform: uppercase;
    transition: opacity 0.3s, box-shadow 0.4s, border-radius 0.4s, color 0.3s;

    svg {
      transform: translateY(5px);
      margin-right: 12px;
      fill: $white;
      width: 32px;
      height: 22px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: 0 0 0 3px #eff6e7;
      border-radius: 3px;
    }

    &:active {
      color: $green-200;
    }
  }
}

.catalog-btn {
  color: $green-900;
  font-weight: 600;
  margin-right: 30px;
  max-width: 240px;
  width: 100%;
  min-height: 50px;
  padding: 15px 38px 15px 61px;
  text-align: center;
  background-color: $white;
  border-radius: 6px;
  position: relative;
  transition: background-color 0.3s, border-radius 0.4s, transform 0.4s;

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../images/header/catalog-btn-check.svg");
    top: 50%;
    right: 23px;
    width: 7px;
    height: 4px;
  }

  &:hover::after {
    transform: rotate(180deg);
  }

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../images/header/caralog-btn.svg");
    transform: translateX(-40px);
    width: 25px;
    height: 17px;
  }

  &:hover {
    background-color: $green-200;
    border-radius: 6px 6px 0 0;
  }
}

.search-form {
  max-width: 576px;
  height: 50px;
  width: 100%;
  display: flex;
  margin-right: 30px;
  &__input {
    color: $dark-800;
    padding: 14px 10px 14px 40px;
    width: 100%;
    background-image: url("../images/header/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 12px;
    border-radius: 6px 0 0 6px;

    &::placeholder {
      color: $dark-800;
    }
    &:hover::placeholder {
      color: $green-900;
    }
  }

  &__btn {
    padding: 14px 52px;
    background-color: $dark-800;
    font-weight: 600;
    border-radius: 0 6px 6px 0;
    transition: opacity 0.4s, box-shadow 0.3s, border 0.4s;

    &:hover {
      background-color: #31352bd9;
    }

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.user-nav {
  position: relative;
  display: flex;
  &__item {
    &:not(:last-child) {
      margin-right: 17px;
    }
  }
  &__btn {
    @extend %background;
    border-radius: 3px;
    padding: 10px;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s, box-shadow 0.4s;

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.1);
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 0 0 3px $green-100;
    }

    &:active {
      box-shadow: none;
      opacity: 0, 5;
    }
  }

  svg {
    &:active {
      fill: #ffffff80;
    }
  }

  &__num {
    font-weight: 600;
    text-align: center;
    top: 0;
    transform: translateX(-20px); /* top left */
    font-size: 10px;
    line-height: 18px;
    color: $red-900;
    position: absolute;
    padding: 0 3px;
    border-radius: 50px;
    background-color: $white;
  }
}

.hero-slider {
  color: $dark-500;
  min-height: 600px;

  &__items {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  &__content {
    padding: 24px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
  }

  &__title {
    margin-bottom: 15px;
    @extend %rudablack-900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    &--accent {
      display: block;
      color: $red-900;
    }
  }

  &__link {
    display: block;
    width: fit-content;
    color: $white;
    padding: 12px 24px;
    background-color: $green-900;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.3;
    transition: background-color 0.3s, box-shadow 0.4s;
  }

  &__text p {
    margin-bottom: 32px;
  }

  &__arrow--left {
    z-index: 3;
    top: 40%;
    left: 10%;
    position: absolute;
    transform: rotate(180deg);
  }

  &__arrow--right {
    right: 10%;
    top: 40%;
    position: absolute;
  }

  .arrow {
    padding: 10px;
    width: 60px;
    height: 60px;
    background-size: 32px 18px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    fill: $dark-500;

    &:hover {
      fill: $green-900;
      background-color: $green-200;
    }

    &:focus {
      background-color: #f2f2f2;
      box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
    }

    &:active {
      fill: $green-900;
      background-color: #f3f3f2;
    }
  }

  .slick-disabled {
    &:active {
      opacity: 0.8;
      fill: #c1c1c1;
    }
  }
}
.advantages {
  padding: 48px 0;
  background-color: #f6f6f6;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__list-item {
    padding-left: 60px;
    background-position: left;
    background-size: 50px 50px;
    background-repeat: no-repeat;

    &:not(:last-child) {
      margin-right: 20px;
    }

    svg {
      padding: 50px;
    }
  }

  &__list-title {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 16px;
    color: $dark-900;
  }

  &__list-text {
    color: $dark-500;
  }
}

.products-menu {
  @extend %flex;
  justify-content: center;
  margin-bottom: 48px;

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__btn {
    color: $dark-500;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.4;
    padding: 2px;
    text-transform: uppercase;
    &:hover {
      color: $green-900;
    }

    &:focus {
      border-radius: 3px;
      box-shadow: 0 0 0 4px $green-200;
    }

    &:active {
      box-shadow: none;
      border-radius: 0;
      border-bottom: 3px solid $green-200;
    }
  }
}

.top-products {
  padding: 72px 0;
  &__list {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  &__btn {
    margin: 0 auto;
    display: block;
    font-size: 18px;
    line-height: 1.3;
    padding: 12px 24px;
    color: $green-900;
    border: 1px solid $green-900;
    border-radius: 6px;
    background-color: $white;

    &:hover {
      background-color: #eff6e7;
    }

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
    }

    &:active {
      opacity: 0.5;
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  padding: 57px 0 18px;
  height: 100%;
  max-width: 300px;
  background-color: $white;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  transition: border 0.4s;

  &:hover {
    border: 1px solid $green-900;
  }

  &__subtitle {
    display: block;
    font-weight: 600;
    margin: 10px 10px;
    color: $dark-500;
  }

  &__price {
    color: $dark-500;
  }

  &__price--sale {
    top: -15px;
    left: 0;
    position: absolute;
    padding: 0 10px;
    color: $silver-600;
    width: 60px;
    height: 20px;

    &::before {
      content: "";
      position: absolute;
      padding: 20px;
      background-size: 60px;
      background-repeat: no-repeat;
      background-image: url("../images/price-line.svg");
    }
  }

  &__wrapper {
    padding: 10px;
    height: 30px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__cart {
    width: 32px;
    height: 32px;
    background-color: $green-900;
    border-radius: 3px;
  }

  &__favorites {
    position: absolute;
    right: 12px;
    top: 17px;
  }

  svg {
    fill: $silver-600;
    width: 32px;
    height: 28px;

    &:hover {
      fill: $yellow-900;
    }

    &:focus {
      background: rgba(255, 255, 255, 0.0001);
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:active {
      opacity: 0.5;
    }
  }

  svg {
    width: 16px;
    height: 15.38px;
    fill: $white;

    &:active {
      fill: opacity 0, 5;
    }
  }

  &__link {
    position: relative;

    &:hover::after {
      content: "";
      position: absolute;
      width: 48px;
      height: 48px;
      padding: 20px;
      transform: translate(-50 -50);
      top: 40%;
      left: 40%;
      background-color: $white;
      border-radius: 24px;
      background-size: 20px;
      @extend %background;
      background-image: url("../images/lupa.svg");
    }
  }

  &__img {
    width: 100%;
    position: relative;
    margin-bottom: 18px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .badges {
    top: 12px;
    left: 12px;
    width: 100%;
    position: absolute;
    margin-top: auto;

    &__item {
      display: block;
      margin-bottom: 6px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 10px;
      line-height: 1;
      padding: 3px 6px;
      border-radius: 6px;
      height: fit-content;
      width: fit-content;

      &--new {
        background-color: $green-900;
      }

      &--sale {
        background-color: $red-900;
      }

      &--hit {
        background-color: $orange-900;
      }
    }
  }
}

.footer {
  background-color: $dark-800;
  padding-top: 30px;

  &__logo {
    margin-bottom: 30px;
  }
  &__form {
    max-width: 226px;
    width: 100%;
    display: flex;
    margin-right: 50px;
  }

  &__form-input {
    max-width: 180px;
    border-radius: 6px 0 0 6px;
    padding: 12px;
    transition: opacity 0.4s;

    &::placeholder {
      color: $dark-800;
    }

    &:hover::placeholder {
      color: $green-900;
    }
  }

  &__form-btn {
    max-width: 126px;
    padding: 1px;
    background-color: $green-900;
    border-radius: 0 6px 6px 0;
    padding: 12px 16px;
  }
}

.footer-top {
  @extend %flex;

  &__info {
    column-count: 3;
    gap: 50px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
  }

  &__social {
    display: flex;
  }
  &__link {
    display: block;
    margin-bottom: 18px;
    line-height: 1.8;
    text-transform: capitalize;
    transition: opacity 0.4s, border-bottom 0.3s;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      border-bottom: 2px solid $green-900;
    }
  }

  &__text {
    display: block;
    line-height: 1;
    margin-bottom: 18px;
  }
}

.footer-bottom {
  border-top: 1px solid rgba($color: #fff, $alpha: 0.1);

  &__accept {
    display: flex;
  }

  &__inner {
    padding: 24px 0;
    @extend %flex;
  }

  &__text {
    text-transform: uppercase;
  }
  .accept {
    display: flex;

    &__item:not(:last-child) {
      margin-right: 24px;
    }
  }
}
svg {
  fill: $white;
  width: 32px;
  height: 32px;

  &:not(:last-child) {
    margin-right: 11px;
  }
}
