@import "reset";
@import "fonts";
@import "vars";
@import "mixins";
@import "libs";
@import "global";

@import "./components/header";
@import "./components/advantages";
@import "./components/badges";
@import "./components/product-cart";
@import "./components/footer";

.banners {
  padding-bottom: 72px;

  &__list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
  }

  &__item {
    border-radius: 6px;
    padding: 76px 32px;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  &__text {
    @include line-clamp(3);
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $dark-500;

    &--white {
      color: $white;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &__title {
    @extend %rudasemibold-600;
    max-width: 400px;
    margin-bottom: 12px;
    font-size: 30px;
    line-height: 1.4;
    text-transform: uppercase;
    color: $dark-500;

    &--white {
      color: $white;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &__link {
    color: $dark-500;
    width: fit-content;
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;

    border-bottom: 2px solid $dark-500;

    &--white {
      color: $white;
      border-bottom: 2px solid $white;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    }
  }
}

.promotions {
  background-color: #f5f5f5;

  &__btn {
    margin: 0 auto;
    display: block;
    padding: 12px 24px;
  }


  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 48px;
  }

  &__product {
    max-width: 300px;
    padding: 12px;
    ;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }



  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__inner {
    display: flex;
    justify-content: space-around
  }

  &__price {
    position: relative;

    &--sale {
      top: 0;
      left: 10px;
    }
  }

  &__link {
    margin-right: 12px;
  }

  &__reviews {
    color: $dark-500;


    &::after {
      content: "";
      width: 16px;
      height: 16px;
      padding: 10px;
      background-repeat: no-repeat;
      background-position: right;
      background-image: url("../images/icons/star.svg");
    }
  }
}

.brands {
  &__list {
    height: 58px;
  }


  &__inner {
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__img {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.news {
  padding-bottom: 72px;

  .title {
    text-align: start;
    margin: 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

  }

  &__link {
    text-transform: uppercase;
    margin-bottom: 10px;
    align-self: end;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    padding: 2px;
    color: $green-900;
    border-bottom: 2px solid $green-900;
    transition: color 0.3s, border 0.4s, box-shadow 0.4s, background-color 0.5s;

    &:hover {
      color: #4d800c;
      border-bottom: 2px solid #4d800c;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
      border-bottom: transparent;
    }

    &:active {
      box-shadow: none;
      border-bottom: 2px solid $green-200;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    background-color: $white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    max-width: 410px;
  }

  &__text-link {
    padding: 18px;
    display: block;
    @include line-clamp(3);
    color: $dark-900;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.4s;

    &:hover {
      color: $green-900;
    }
  }

  &__date {
    color: $dark-900;
    position: absolute;
    left: 20px;
    text-align: center;
    border-radius: 0 0 4px 4px;
    padding: 18px 18px 0;
    background-color: $white;
    text-transform: uppercase
  }

  &__num {
    @extend %rudasemibold-600;
    font-size: 30px;
    line-height: 1.9;

  }

  &__month {
    display: block;
    font-weight: 700;
    line-height: 1.4;
    font-size: 10px;
    letter-spacing: 0.1em;

  }
}


.breadcrumbs {
  background-color: #F6F6F6;

  &__list {
    padding: 24px 0;
    display: flex;
  }

  &__item {
    position: relative;
  }


  &__item:not(:last-child) {
    margin-right: 16px;

    &::after {
      content: '';
      position: absolute;
      top: 5px;
      right: -15px;
      padding: 5px;
      background-size: 6px 10px;
      background-repeat: no-repeat;
      background-image: url("../images/icons/arrow.svg");

    }
  }

  &__link {
    color: #505050;
    line-height: 1.2;
  }
}

.catalog-page {
  padding-bottom: 72px;

  &__title {
    padding: 48px 0;
    @extend %rudabold-700;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $dark-900;
  }

  &__inner {
    display: flex;

  }

&__wrapper{
  margin-right: 32px;
}

  &__item{
    max-width: 300px;
    width: 100%;
    border: 1px solid #C1C1C1;
    border-radius: 6px;
    margin-bottom: 30px;
  }

  &__products{
        margin-bottom: 48px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
  }
  
}

.price {

  &__wrapper {
    padding: 18px;
    border-bottom: 1px solid #C1C1C1;
  }

  &__title {
    display: block;
    font-size: 24px;
    line-height: 1.2;
    color: $dark-900;
    @extend %rudaregular-400;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      right: 15px;
      transform: rotate(-90deg);
      padding: 9px;
      background-position: right;
      background-size: 10px 18px;
      background-repeat: no-repeat;
      background-image: url("../images/icons/arrow.svg");

    }

  }

  &__inner{
    padding: 22px 18px 18px ;
  }

  &__label{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__input{
 
border: 1px solid #C1C1C1;
border-radius: 3px;

    padding: 12px 20px;
    color: #121212;
    background-color: #F6F6F6;

    &::placeholder{
      color: #505050;
      font-size: 16px;
line-height: 1;
    }
  }

  &__text{
    font-size: 16px;
line-height: 1.2;
    color: #C1C1C1;
  }

  &__filtr{
   height: 40px;
   width: 300px;
  }
}

.categories{
  height: 364px;
overflow-y: scroll;


  &__list{
    display: flex;
    flex-direction: column;
    padding: 18px 12px;
  }

  &__item:not(:last-child){
    margin-bottom: 12px;
  }
  

  &__link{
    font-size: 18px;
line-height: 1.3;
color: #505050;


  }
}

.offer{

&__label{
 display: flex;
  margin: 18px ;
}

  &__input{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked + .offer__checkbox{
      border-color: #505050;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../images/checkbox.svg');
    }
  }

  &__checkbox{
    height: 24px;
    width: 24px;
    display: block;
    margin-right: 12px;
    background-color: #F6F6F6;
border: 1px solid #C1C1C1;
border-radius: 3px;
  }

  &__text{
    font-size: 18px;
    line-height: 1.2;
    color: #505050;
  }
}

.top-content{
  padding: 20px;
  display: flex;
 justify-content: flex-end;

  &__buttons{
    display: flex;
    
  }

  &__btn{
    margin-right: 15px;
    width: 45px;
    height: 45px;
    display: block;
    background-color: #C1C1C1;
    background-repeat: no-repeat;
    background-position: center;

    svg {
      fill: $white;
      height: 32px;
      width: 32px;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        box-shadow: none;
        fill: #e0edcf;
      }
  }

 
  
}

