@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  &__top {
    background-color: $default-color;
  }

  &__info {
    align-items: center;
    @extend %flex;
    padding: 13px 0;
  }

  &__wrapper {
    background-color: #63a60f;
  }
  &__wrapper-inner {
    padding-top: 30px;
    @extend %flex;
  }
}

section {
  padding-bottom: 72px;
}

.logo {
  margin-right: 24px;
}

.header__info {
  @extend %opensans-700;
  font-size: 13px;
  line-height: 18px;
  color: #fff;

  &-list {
    display: flex;
  }
  &-link{
    transition: all 0.3s;
  }
  &-call,
  &-del {
    background-repeat: no-repeat;
    padding: 5px 40px;
    transition: all 0.3s;
  }
  &-call {
    padding: 5px 30px;
  }
  &-call:hover,
  &-del:hover,
  &-link:hover {
    opacity: 0.7;
  }
  &-link:focus {
    box-shadow: 0 0 0 3px #eff6e7;
    border-radius: 3px;
  }
  &-call:active,
  &-del:active,
  &-link:active {
    color: #e0edcf;
  }
  &-items:not(:last-child) {
    margin-right: 24px;
  }
}

.search__form {
  display: flex;
  margin-right: 30px;
  &-button {
    width: 44px;
    height: 44px;
    background: #fff;
  }
  &-input {
    color: $default-color;
    padding: 0 10px 0 40px;
    width: 420px;
    height: 50px;
    background-image: url(../images/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 12px;
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(15, 20, 8, 0.2),
      0 -4px 4px 0 rgba(15, 20, 8, 0.2);
    border: 0 solid;
    border-radius: 6px 0 0 6px;
  }

  &::placeholder {
    color: $default-color;
  }
  &-btn {
    border: none;
    color: #fff;
    width: 157px;
    height: 50px;
    @extend %opensans-600;
    background-color: $default-color;
    box-shadow: 0 4px 4px 0 rgba(15, 20, 8, 0.2),
      0 -4px 4px 0 rgba(15, 20, 8, 0.2);
    border: 0 solid;
    border-radius: 0 6px 6px 0;
    transition: opacity 0.4s, box-shadow 0.3s, transform 0.2s, color 0.1s;
  }
  &-btn:hover {
    opacity: 0.85;
  }
  &-btn:focus {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
    transform: scale(0.8);
  }
  &-btn:active {
    color: rgba(255, 255, 255, 0.5);
  }
}
.user-nav {
 
  &__list {
    position: relative;
    display: flex;
    justify-content: center;
  }
&__item{
  padding:0 24px;
}

  &__link {
    background-position: center center;
    background-repeat: no-repeat;
    background-size:32px 28px ;
    position: absolute;
    padding:18px 22px;
    border-radius: 3px;
    transition: background-color 0.3s, box-shadow 0.4s;
  }
  
  &__link:hover {
    background-color: rgba($color: #fff, $alpha: 0.1);
  }
  &__link:focus {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3px #eff6e7;
  }
  &__link:active {
    background-color: rgba($color: #fff, $alpha: 0.1);
  }

  &__num {
    @extend %opensans-600;
    text-align: center;
    top: 0;
    transform: translateX(-20px);
    font-size: 10px;
    line-height: 18px;
    color: #cf3e3b;
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
  }
}

.catalog-btn {
  @extend %opensans-600;
  color: $assent;
  margin-right: 30px;
  width: 260px;
  height: 50px;
  text-align: center;
  background: #fff;
  border-radius: 6px;
  position: relative;
  transition: all 0.4s;
  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../images/catalog-btn-right-check.svg);
    top: 50%;
    transform: translateX(20px);
    width: 7px;
    height: 4px;
  }

  &:hover::after {
    right: 20px;
    transform: rotate(180deg);
  }
  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../images/catalog-btn-nav.svg);
    transform: translateX(-35px);
    width: 25px;
    height: 17px;
  }
  &:hover {
    background: #e0edcf;
    border-radius: 6px 6px 0 0;
  }
}

.slider {
  color: $frequent;

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 600px;
  }

  &__content {
    margin-top: 50px;
    height: 50%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
  }

  &__title {
    padding: 20px 0;
    @extend %rudablack-900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
  }

  &__btn {
    margin: 20px 0;
    width: 181px;
    height: 47px;
    background-color: $assent;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
    transition: background-color 0.3s, box-shadow 0.4s;
  }

  &__btn:hover {
    background-color: #4d810c;
  }

  &__btn:focus {
    background: $assent;
    box-shadow: 0 0 0 4px #e0edcf;
  }
  &__btn:active {
    background: $assent;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__title-accent {
    color: #cf3e3b;
  }
}

.slick-slider {
  position: relative;
  .slick-next {
    right: 10%;
    top: 30%;
  
  }
  .slick-prev {
    top: 30%;
    left: 10%;
    
  }

  .slick-arrow{
    padding: 10px;
    margin-right: 20px;
    z-index: 3;
    font-size: 0;
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/arrowight.svg);
  }


  .slick-arrow:hover {
    background-color: #e0edcf;
  }
  .slick-arrow:focus {
    background-color: #f2f2f2;
    box-shadow: 0 0 0px 3px rgba(99, 166, 14, 0.5);
  }
  .slick-arrow:active {
    background-color: #f3f3f2;
  }
}

.slider__info {
  background-color: #f6f6f6;
  padding: 48px 0;

  &-item {
    padding: 5px 70px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
  }
  &-inner {
    @extend %flex;
  }
  &-title {
    @extend %opensans-600;
    font-size: 16px;
    color: #121212;
  }
}

.title {
  text-align: center;
  @extend %rudasemibold-600;
  font-size: 32px;
  color: #121212;
  margin-bottom: 30px;
}

.categories {
  &__content {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  &__content-items {
    position: relative;
    padding: 18px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
  }

  &__filtr {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    text-align: center;
  }
  &__filtr-btn {
    text-transform: uppercase;
    color: $frequent;
    border: 1px solid transparent;
  }
  &__filtr-btn:not(:last-child) {
    margin-right: 24px;
  }

  &__filtr-btn:hover {
    color: $assent;
  }

  &__filtr-btn:focus {
    background: rgba(255, 255, 255, 0.0001);
    box-shadow: 0 0 0 3px #e0edcf;
    border-radius: 3px;
  }

  &__filtr-btn:active {
    border-bottom: 3px;
    border-color: #63a60e33;
  }

  &__content-img {
    width: 298;
    height: 215;
  }

  &__content-btn {
    display: block;
    margin: 0 auto;
    color: $assent;
    background-color: #ffffff;
    border: 1px solid $assent;
    border-radius: 6px;
    padding: 12px 24px;
  }

  &__content-btn:hover {
    background: #eff6e7;
  }

  &__content-btn:focus {
    border-color: #63a60e;
    box-shadow: 0 0 0px 4px rgba(99, 166, 14, 0.5);
  }
  &__content-btn:active {
    box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
  }

  &__content-top {
    margin-bottom: 30px;
  }
  &__content-new {
    display: block;
    padding: 10px 66px;
    background-repeat: no-repeat;
  }
  &__content-discount {
    display: block;
    padding: 16px 37px;
    background-repeat: no-repeat;
  }
  &__content-favorite {
    position: absolute;
    right: 0;
    top: 10px;
    background-repeat: no-repeat;
    padding: 20px;
  }
  &__content-cart {
    position: absolute;
    height: 32px;
    width: 32px;
    transform: translateX(220px);
    background-repeat: no-repeat;
  }

  &__content-price {
    color: $frequent;
    position: absolute;
    content: "";
    background: linear-gradient(
      to left top,
      transparent 47.75%,
      currentColor 49.5%,
      currentColor 50.5%,
      transparent 52.25%
    );
  }
  &__content-price-fix {
    color: $frequent;
    padding: 20px 0;
  }
  &__content-bottom {
    padding-top: 30px;
    display: flex;
  }
}

.footer {
  background-color: $default-color;
  &-top {
    @extend %flex;
  }
}

.footer-top {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  &__wrapper {
    @extend %flex;
  }

  &__social-list {
    display: flex;
    align-items: center;
  }
  &__link {
    display: block;
    padding-bottom: 18px;
    line-height: 1.8;
    text-transform: capitalize;
    color: #fff;
  }
  &__social-icon {
    padding: 8px 22px;
    margin-right: 11px;
    @extend %background;
  }

  &__social-icon:hover {
    opacity: 0.7;
  }

  &__social-icon:focus {
    background-color: rgba(255, 255, 255, 0.0001);
    box-shadow: 0 0 0 3px #e0edcf;
    border-radius: 3px;
  }

  &__social-icon:active {
    color: #e0edcf;
  }

  &__form {
    display: flex;
  }
  &__form-input {
    padding: 11px;
    width: 180px;
    height: 40px;
    background: #ffffff;
    color: #4f4f4f;
    border-radius: 6px 0 0 6px;
  }
  &__form-input::placeholder {
    color: #4f4f4f;
    line-height: 1;
  }

  &__form-btn {
    @extend %opensans-700;
    width: 126px;
    height: 40px;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    background: $assent;
    border-radius: 0 6px 6px 0;
  }
  &__form-btn:hover {
    background-color: #4d800c;
  }
  &__form-btn:focus {
    background-color: $assent;
    box-shadow: 0 0 0px 4px #e0edcf;
  }
  &__form-btn:active {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__inner {
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
  }
}
.footer-bottom {
  &__accept {
    display: flex;
  }
  &__inner {
    padding: 24px 0;
    @extend %flex;
  }
  &__link {
  @extend %background;
  }
  &-visa {
    padding: 24px 73px;
  }
  &-mc {
    padding: 24px 29px;
  }
}

@import "media";
