.advantages {
  padding: 45px 0;
  background-color: #f6f6f6;

  &__list {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &__item {
    padding-left: 70px;
    max-width: 264px;
    background-position: left;
    background-size: 50px 50px;
    background-repeat: no-repeat;

    &:not(:last-child) {
      margin-right: 66px;
    }
  }

  &__title {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 16px;
    color: $dark-900;
  }

  &__text {
    color: $dark-500;
  }
}
