.footer {
  background-color: $dark-800;
  padding-top: 30px;

  &__logo {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__item {
    margin-right: 30px;
  }

  &__form {
    max-width: 306px;
    width: 100%;
    width: 100%;
    display: flex;
    margin-right: 30px;
  }

  &__form-input {
    border-radius: 6px 0 0 6px;
    padding: 12px;
    transition: color 0.4s;

    &::placeholder {
      color: $dark-800;
    }
  }

  &__form-btn {
    font-size: 12px;
    line-height: 1.6;
    text-transform: uppercase;
    font-weight: 700;
    background-color: $green-900;
    border-radius: 0 6px 6px 0;
    padding: 12px 16px;
  }

  .footer-top {
    @extend %flex;
    margin-bottom: 30px;

    &__info {
      column-count: 3;
      gap: 30px;
    }

    &__link {
      display: block;
      margin-bottom: 18px;
      line-height: 1.8;
      text-transform: capitalize;
      transition: opacity 0.4s;
    }

    &__text {
      display: block;
      line-height: 1;
      margin-bottom: 18px;
    }

    &__inner {
      display: flex;
      flex-direction: column;
    }
  }

  .footer-bottom {
    border-top: 1px solid rgba($color: #fff, $alpha: 0.1);

    &__accept {
      display: flex;
    }

    &__inner {
      padding: 24px 0;
      @extend %flex;
    }

    &__text {
      text-transform: uppercase;
    }

    .accept {
      display: flex;

      &__item {
        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }

  .social {
    &__address {
      display: flex;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 11px;
      }
    }

    &__link {
      height: 32px;
      width: 32px;
      display: block;

      svg {
        fill: $white;
        height: 32px;
        width: 32px;

        &:hover {
          opacity: 0.7;
        }

        &:active {
          box-shadow: none;
          fill: #e0edcf;
        }
      }

      &:focus {
        box-shadow: 0 0 0 3px #e0edcf;
        border-radius: 3px;
      }

      &:active {
        box-shadow: none;
      }
    }
  }

  .contacts {
    &__address {
      display: flex;
      flex-direction: column;
      margin-bottom: 18px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }
}
