.header {
    &__top {
      background-color: $dark-800;
    }
  
    &__bottom {
      padding: 25px 0;
      background-color: $green-900;
    }
  
    &__wrapper {
      @extend %flex;
      align-items: center;
    }
  
    &__info {
      padding: 14px 0;
    }
  }

  .information {
    display: flex;
  
    &__item {
      &:not(:last-child) {
        margin-right: 24px;
      }
  
      &--more {
        &:not(:last-child) {
          margin-right: 48px;
        }
      }
  
      &__link {
        font-weight: 700;
        font-size: 13px;
        line-height: 1.4;
        padding: 5px 0;
        text-transform: uppercase;
        transition: opacity 0.3s, box-shadow 0.4s, border-radius 0.4s, color 0.3s;
      }
  
      svg {
        transform: translateY(5px);
        margin-right: 12px;
        fill: $white;
        width: 32px;
        height: 22px;
  
        &:active {
          fill: $green-200;
        }
      }
    }
  }

  .catalog {
    position: relative;
    display: inline-block;
  
    &-btn {
      color: $green-900;
      font-weight: 600;
      margin-right: 30px;
      max-width: 240px;
      width: 100%;
      height: 50px;
      padding: 15px 38px 15px 61px;
      text-align: center;
      background-color: $white;
      border-radius: 6px;
      position: relative;
      transition: background-color 0.3s, border-radius 0.4s, transform 0.4s;
  
      &::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-image: url("../images/header/catalog-btn-check.svg");
        top: 50%;
        right: 23px;
        width: 7px;
        height: 4px;
      }
  
      &:hover::after {
        transform: rotate(180deg);
      }
  
      &::before {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-image: url("../images/header/caralog-btn.svg");
        transform: translateX(-40px);
        width: 25px;
        height: 17px;
      }
  
      &:hover {
        background-color: $green-200;
        border-radius: 6px 6px 0 0;
      }
    }
  }
  
  .search-form {
    max-width: 576px;
    height: 50px;
    width: 100%;
    display: flex;
    margin-right: 30px;
  
    &__input {
      color: $dark-800;
      padding: 14px 10px 14px 40px;
      width: 100%;
      background-image: url("../images/header/icon-search.svg");
      background-repeat: no-repeat;
      background-position: 12px;
      border-radius: 6px 0 0 6px;
      transition: color 0.4s;
  
      &::placeholder {
        color: $dark-800;
      }
  
      &:hover::placeholder {
        color: $green-900;
      }
  
      &:focus {
        box-shadow: 0 0 0 4px $green-200;
      }
    }
  
    &__btn {
      padding: 14px 52px;
      background-color: $dark-800;
      font-weight: 600;
      border-radius: 0 6px 6px 0;
      transition: opacity 0.4s, box-shadow 0.3s, border 0.4s;
  
      &:hover {
        background-color: #31352bd9;
      }
  
      &:focus {
        box-shadow: 0 0 0 4px $green-200;
      }
  
      &:active {
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
  
  .user-nav {
    position: relative;
    display: flex;
  
    &__item {
      &:not(:last-child) {
        margin-right: 17px;
      }
    }
  
    &__btn {
      @extend %background;
      border-radius: 3px;
      padding: 10px;
      width: 50px;
      height: 50px;
      transition: background-color 0.3s, box-shadow 0.4s;
  
      &:hover {
        background-color: rgba($color: #fff, $alpha: 0.1);
      }
  
      &:focus {
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 0 0 3px $green-100;
      }
  
      &:active {
        box-shadow: none;
      }
    }
  
    svg {
      fill: $white;
      width: 32px;
      height: 32px;
  
      &:active {
        fill: #ffffff80;
      }
    }
  
    &__num {
      font-weight: 600;
      text-align: center;
      top: 0;
      transform: translateX(-20px);
      font-size: 10px;
      line-height: 18px;
      color: $red-900;
      position: absolute;
      padding: 0 3px;
      border-radius: 50px;
      background-color: $white;
    }
  }