.hero-slider {
    color: $dark-500;
  
    &__items {
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    &__link {
      padding: 12px 24px;
    }
  
    &__item {
      min-height: 600px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }
  
    &__content {
      padding: 24px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 4px;
    }
  
    &__title {
      margin-bottom: 15px;
      @extend %rudablack-900;
      font-size: 60px;
      line-height: 1.3;
      @include line-clamp(3);
      text-transform: uppercase;
  
      &--accent {
        display: block;
        color: $red-900;
      }
    }
  
    &__text p {
      @include line-clamp(2);
      margin-bottom: 32px;
    }
  
    &__arrow {
      width: 60px;
      height: 60px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 6px;
      fill: $dark-500;
  
      &--left {
        z-index: 3;
        top: 40%;
        left: 30px;
        position: absolute;
        transform: rotate(180deg);
      }
  
      &--right {
        right: 30px;
        top: 40%;
        position: absolute;
      }
  
      &:hover {
        background-color: $green-200;
  
        svg {
          fill: $green-900;
        }
      }
  
      &:focus {
        background-color: #f2f2f2;
        box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
      }
  
      &:active {
        fill: $green-900;
        background-color: #f3f3f2;
      }
  
      svg {
        height: 32px;
        width: 18px;
        fill: $dark-500;
  
        &:focus {
          fill: #5a5a5a;
        }
  
        &:active {
          fill: #f3f3f2;
        }
      }
  
      &.slick-disabled {
        svg {
          fill: $silver-600;
        }
      }
    }
  }
  
  .products-menu {
    @extend %flex;
    justify-content: center;
    margin-bottom: 48px;
  
    &__item {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  
    &__btn {
      color: $dark-500;
      font-weight: 700;
      font-size: 15px;
      line-height: 1.4;
      padding: 2px;
      text-transform: uppercase;
  
      &:hover {
        color: $green-900;
      }
  
      &:focus {
        border-radius: 3px;
        box-shadow: 0 0 0 4px $green-200;
      }
  
      &.mixitup-control-active {
        box-shadow: none;
        border-radius: 0;
        border-bottom: 3px solid $green-200;
      }
    }
  }
  
  .top-products {
    &__list {
      margin-bottom: 48px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
    }
  
    &__btn {
      margin: 0 auto;
      display: block;
      font-size: 18px;
      line-height: 1.3;
      padding: 12px 24px;
      color: $green-900;
      border: 1px solid $green-900;
      border-radius: 6px;
      background-color: $white;
  
      &:hover {
        background-color: $green-100;
      }
  
      &:focus {
        box-shadow: 0 0 0 4px $green-200;
      }
  
      &:active {
        opacity: 0.5;
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
  
  .product {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 57px 0 18px;
    height: 100%;
    max-width: 300px;
    background-color: $white;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    transition: border 0.4s;
  
    &:hover {
      border: 1px solid $green-900;
    }
  
    &__subtitle {
      display: block;
      margin-bottom: 9px;
      padding: 0 18px;
      font-weight: 600;
      color: $dark-500;
      font-size: 14px;
      @include line-clamp(2);
      line-height: 1.4;
      letter-spacing: 0.03em;
    }
  
    &__price {
      color: $dark-500;
      margin-left: 18px;
      position: relative;
      &--sale {
        top: -5px;
        left: -10px;
        position: absolute;
        padding: 0 10px;
        color: $silver-600;
        width: 60px;
        height: 20px;
  
        &::after {
          content: "";
          display: block;
          margin-top: -9px;
          height: 1px;
          background-color: $silver-600;
          transform: rotate(-15deg);
        }
      }
    }
  
    &__wrapper {
      position: relative;
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  
    &__cart {
      width: 32px;
      height: 32px;
      padding: 8px;
      margin-right: 18px;
      border-radius: 3px;
  
      svg {
        width: 16px;
        height: 15px;
        fill: $white;
      }
  
      &:active {
        svg {
          fill: $silver-600;
        }
      }
    }
  
    &__favorites {
      position: absolute;
      right: 12px;
      top: 17px;
      border-radius: 3px;
  
      svg {
        fill: $silver-600;
        width: 32px;
        height: 28px;
  
        &:hover {
          fill: $yellow-900;
        }
  
        &:focus {
          box-shadow: 0 0 0 3px $green-200;
        }
  
        &:active {
          opacity: 0.5;
        }
      }
    }
  
    &__link {
      position: relative;
      margin-bottom: 18px;
  
      &::after {
        content: "";
        position: absolute;
        width: 48px;
        height: 48px;
        padding: 20px;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        opacity: 0;
        background-color: $white;
        border-radius: 24px;
        background-size: 20px;
        @extend %background;
        background-image: url("../images/lupa.svg");
        transition: opacity 0.4s, background-color;
      }
  
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
      }
  
      &:hover::after {
        opacity: 1;
      }
  
      &:hover::before {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  
    &__img {
      width: 100%;
      position: relative;
      background-color: rgba(0, 0, 0, 0);
      transition: background-color 0.4s;
    }
  }